@import 'tailwindcss';
@plugin "@tailwindcss/typography";

:root {
  --accent: #d62f77;
  --heading: #2e0014;
  --body: #5e5257;
  --background: #d9d6d7;
  --clear: rgba(206, 37, 79, 0.06);
}

.dark {
  --accent: #d62f77;
  --heading: #dcdcdc;
  --body: #c9bdc2;
  --background: #12090d;
  --clear: rgba(40, 1, 18, 0.21);
}

@theme inline {
  --font-sans: var(--font-atkinsonhyperlegible);
  --font-mono: var(--font-geist-mono);
  --font-display: var(--font-montserrat);
  --color-accent: var(--accent);
  --color-heading: var(--heading);
  --color-body: var(--body);
  --color-background: var(--background);
  --color-clear: var(--clear);
}

body {
  @apply bg-background text-body font-sans antialiased transition-all duration-700 ease-in-out;
}

b {
  @apply text-heading font-bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-display text-heading font-semibold;
}
